@mixin padding-x($value) {
  padding-left: $value;
  padding-right: $value;
}
@mixin padding-y($value) {
  padding-top: $value;
  padding-bottom: $value;
}

// 640px, 1024px, 1400px
$breakpoints-up: (
  //640px
  "medium": "40em",
  //1024px
  "large": "64em",
  //1400px
  "xlarge": "87.5em"
);

// 639px, 1023px, 1399px
$breakpoints-down: (
  //639px
  "small": "39.9375em",
  //1023px
  "medium": "63.9375em",
  //1399px
  "large": "87.4375em"
);

@mixin breakpoints-up($size) {
  @media (min-width: map-get($breakpoints-up, $size )) {
    @content;
  }
}
@mixin breakpoints-down($size) {
  @media (max-width: map-get($breakpoints-down, $size )) {
    @content;
  }
}

// CARDS 2 SVG
@mixin cards2-svg($index) {
  background-image: url(../../static/img/cards2-svg-#{$index}.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 32px;
}
