// Colors
$white: rgba(255, 255, 255, 1);
$dark: rgb(45, 40, 48);
$primary-dark: rgb(23, 16, 27);
$primary-mid: rgb(41, 37, 43);
$primary: rgb(134, 0, 211);

// Font Sizes
$fz-14: 0.875rem; //14px
$fz-16: 1rem; //16px
$fz-18: 1.125rem; //18px
$fz-22: 1.375rem; //22px
$fz-24: 1.5rem; //24px
$fz-32: 2rem; //32px
$fz-44: 2.75rem; //44px
$fz-56: 3.5rem; //56px
